@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,600;1,700&family=Lateef:wght@400&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Poppins', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    
    scroll-behavior: smooth;
}   

html,body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    background-color: rgba(100, 0, 134, 0.678);
    backdrop-filter: blur(6px);

    border-bottom: 1px solid rgba(80, 0, 114, 0.151);
}

header .logo
{
    font-size: 1.5em;

    overflow: visible;

    background: url(/img/icon.svg) center left / contain no-repeat;

    color: rgb(255, 255, 255);
    
    padding-left: 2.4em;

    text-decoration: none;
    
    /*text-transform: uppercase;*/

    font-weight: 700;

    letter-spacing: 2px;

    
}

header ul
{
    font-size: 1.2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none; /* no bullet points */
    margin-left: 20px;
}

header ul li a
{
    font-weight: bold;
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 5px; /* turns button round */
}

header ul li a:hover,
header ul li a.active
{
    background: orange;
    color: #ffffff;
}

.div-main
{
    background-color: rgb(80, 0, 106);
    height: 100vh;

    padding-top: 30vh;
    
}

.balls 
{
    width: 140vh;
    padding-left: 30vh;
    letter-spacing: 0.05em;
}

.div-main h2 
{
    font-family: 'Poppins', sans-serif;

    color: white;

    font-size: 5vh;
    font-weight: 700;

    margin-bottom: 3vh;
}

.div-main p
{
    color: rgba(255, 255, 255, 0.781);

    font-size: 3vh;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.7;

    width: 120vh;

    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vh;
    padding-right: 2vh;

    background-color: rgb(68, 0, 89);
}

.aniText 
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    background-image: linear-gradient(30deg,#ff823a,#ffb03a,#ffe83a,#ffb03a,#ff823a);
    background-size: 1100% 100%;
    animation: animateBg 2s linear infinite;
}

@keyframes animateBg
{
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.div-main a
{
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

a:link
{

}

a:visited 
{

}

a:hover 
{

}

a:active
{

}

/* ANIMATIONS */

.fade-in
{ 
    animation: fadeIn 1s; 
}

@keyframes fadeIn 
    {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

.slide-in
{
    position: absolute;
    left: -100px;
    animation: slide 1s forwards;
    animation-delay: 0s;
}

@keyframes slide {
    100% { left: 0; }
}

.slide-fade-in 
{
    position: absolute;
    left: -100px;
    animation: slide 1s forwards, fadeIn 1s;
    animation-delay: 0s;
}

#GET-SCREEN
{
    padding-top: 50vh;

    background-color: black;
    height:100vh;

    background: url(/img/eren-charging.gif) center 20vh / contain no-repeat, black;
    background-size: 50vh;
}

#GS-MAIN
{
    font-size:10vh;
    text-align: center;
    font-family: 'Lateef', serif;

    line-height: 0.5em;

    color: white;
}

#GS-MAIN a
{
    font-size:5vh;
    text-align: center;
    font-family: 'Lateef', serif;

    line-height: 0.5em;

    color: white;
}

#GS-SUB
{
    
    text-decoration: underline;

    margin-top: 3vh;

    font-size:3vh;
    text-align: center;
    display: block;

    font-family: 'Lateef', serif;

    color: white;
}

#GS-MOB
{
    margin-top: 10vh;

    font-size:3vh;
    text-align: center;
    font-family: 'Lateef', serif;

    line-height: 0.5em;

    color: white;
}

@media only screen and (max-aspect-ratio: 3/2) {
    #REST {
        display: none;
    }
}


@media only screen and (min-aspect-ratio: 3/2) {
    #GET-SCREEN
    {
        display: none;
    }
}