/** stylesheet for main.html **/
/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,600;1,700&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,600;1,700&family=Lateef:wght@400&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    /*
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lateef', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;*/
    
    scroll-behavior: smooth;
}   

html,body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    background: rgb(75, 0, 106); /*fix white flash*/
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    background-color: rgba(100, 0, 134, 0.678);
    backdrop-filter: blur(6px);

    border-bottom: 1px solid rgba(80, 0, 114, 0.151);

    font-family: 'Raleway', sans-serif;
}

header .logo
{
    font-size: 1.5em;

    overflow: visible;

    background: url(/img/icon.svg) center left / contain no-repeat;

    color: rgb(255, 255, 255);
    
    padding-left: 2.4em;

    text-decoration: none;
    
    /*text-transform: uppercase;*/

    font-weight: 700;

    letter-spacing: 2px;

    
}

header ul
{
    font-size: 1.2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none; /* no bullet points */
    margin-left: 20px;
}

header ul li a
{
    font-weight: bold;
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 5px; /* turns button round */
}

header ul li a:hover,
header ul li a.active
{
    background: orange;
    color: #ffffff;
}

.div-intro 
{

    background: url(/img/movies-fin.svg) bottom right / cover no-repeat, linear-gradient(90deg, rgb(75, 0, 106), rgba(99, 0, 124, 0));

    height: 100vh;
}

.div-intro section
{
    padding-top: 30vh;

    margin-left: 20vh;
    margin-right: auto;

    margin-bottom: 100px;

    position: relative;  

    letter-spacing: 0.05em;
}

.btn-slide
{
    font-family: 'Raleway', sans-serif;

    font-size: 2vh;
    font-weight: 700;
    letter-spacing: 0.5px;

    color: white;

    width: 8.5em;
    padding: 0.4em;

    background-color:orange;
    border: none;
    border-radius: 5px;

    box-shadow: inset 0 0 0 0 rgb(255, 185, 55);
    transition: ease-out 0.3s;
}

.btn-slide:hover
{
    box-shadow: inset 9em 0 0 0 rgb(255, 202, 104);
}

.div-intro h1 
{
    font-family: 'Poppins', sans-serif;

    color: white;
    font-style: 700;
    font-size: 7.5vh;

    width: 20em;

    padding-bottom: 25px;
}

.div-intro h2 
{
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgba(255, 255, 255, 0.781);

    font-weight: 400;
    font-size: 3vh;  
 
    line-height: 1.7;

    width: 21em;

    padding-bottom: 25px;
}

.media-blk
{
    padding-top: 50px;
    
}

.fa {
    padding-left: 20px;
    padding-right: 20px;

    font-size: 30px;
    text-align: center;
    text-decoration: none;
  }

.div-summary
{
    height: 130vh;
    background-color: rgb(85, 1, 116);
}

.div-summary section
{
    padding-top: 12vh;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 100px;

    position: relative;  

    letter-spacing: 0.05em;
}

.div-summary h3
{
    font-family: 'Raleway', sans-serif;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;

    padding:0.2em;

    color: rgb(255, 255, 255);

    font-size: 3vh;
    font-weight: 700;

    text-align: center;

    background-color: orange;

    border-radius: 5px;

    width: 7em;
}

.div-summary h2
{
    font-family: 'Poppins', sans-serif;

    margin-left: auto;
    margin-right: auto; 

    padding-bottom: 2vh;

    width: 10em;

    color: white;

    font-size: 7.5vh;

    text-align: center;

    line-height: 10vh;
}

.div-category 
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;

    width: 100vh;
    max-width: 800px; /*in case stretched screen*/

    background-color: rgb(70, 0, 98);

    border-radius: 10px;

    padding: 3vh;

    display: grid;
    grid-template-columns: auto 1fr;

    justify-content: start;
    align-items: start;
}

.category-content
{
    display: inline-block;
    position: relative;
}

.category-icon
{
    margin-left: 1vh;
    margin-right: 3.5vh;
    display: inline-block;
    position: relative;
}

.div-category .category-title
{
    font-family: 'Raleway', sans-serif;

    color: white;

    font-size: 4vh;
    font-weight: 700;

    margin-bottom: 1.2vh;
}

.div-category .category-caption
{
    color: rgba(255, 255, 255, 0.781);

    font-size: 2.5vh;
    font-weight: 400;

    font-family: 'IBM Plex Sans', sans-serif;
}

.h1-highlight
{

    transition: background .45s;
    background-image: linear-gradient(transparent 60%, #8100ab 60%);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

.h1-highlight:hover
{   
    background-size: 100% 100%;
}

.p-highlight
{   
    transition: background .45s;
    background-image: linear-gradient(transparent 60%, #8100ab 60%);
    background-size: 95% 120%;
    background-repeat: no-repeat;
    background-position: top center;
}

.p-highlight:hover
{   
    background-size: 110% 120%;
}

.div-about
{
    /*padding-top: 23vh;*/

    height: 100vh;

    position: relative;  

    background:#8100ab;
}

.div-grid
{
    display:grid;
    grid-template-columns: 60vh 60vh;
    grid-gap: 70px;

    margin-left: 20%;
}

.section-care
{
    padding-top: 23vh;
    padding-bottom: 10vh;
}

.xeg
{
    margin-top: 15vh;
    background: url('/img/xegativ.png') center / contain no-repeat;
    overflow: visible;
}

.h2-care
{
    font-family: 'Poppins', sans-serif;
    width: 60vh; 

    color: white;

    font-size: 6vh;

    text-align: left;
}

.h2-why
{
    font-family: 'Poppins', sans-serif;
    margin-top: 5vh;

    color: rgb(255, 255, 255);

    font-size: 6vh;

    text-align: left;
}

.h2-highlight
{
    color: rgb(247, 215, 255);

    background-color:#a300d9;

    padding-right: 0.1em;
    padding-left: 0.1em;

    border-radius: 10px;
}

.div-about p 
{
    margin-top: 5vh;

    font-family: 'IBM Plex Sans', sans-serif;
    color: rgba(255, 255, 255, 0.781);

    font-weight: 400;
    font-size: 3vh;  
 
    line-height: 1.7;

    width: 21em;
}

/*

.h2-highlight
{
    transition: background .45s;
    background-image: linear-gradient(transparent 60%, #cf30ff 60%);
    background-size: 90% 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

.h2-highlight:hover
{   
    background-size: 100% 100%;
}
*/


/*
.section-why
{
    align-items: center;
}

.h2-why
{
    margin-right: 20%;

    color: white;

    font-size: 6vh;

    text-align: right;
}
*/

.div-about h3
{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2vh;

    padding:0.2em;

    color: rgb(255, 255, 255);

    font-size: 3vh;
    font-weight: 700;

    text-align: center;

    background-color: orange;

    border-radius: 5px;

    width: 6em;
}

.noselect
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* ANIMATIONS */

.fade-in
{ 
    animation: fadeIn 1s; 
}

@keyframes fadeIn 
    {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

.slide-in
{
    position: absolute;
    left: -100px;
    animation: slide 1s forwards;
    animation-delay: 0s;
}

@keyframes slide {
    100% { left: 0; }
}

.slide-fade-in 
{
    position: absolute;
    left: -100px;
    animation: slide 1s forwards, fadeIn 1s;
    animation-delay: 0s;
}

#GET-SCREEN
{
    padding-top: 50vh;

    background-color: black;
    height:100vh;

    background: url(/img/eren-charging.gif) center 20vh / contain no-repeat, black;
    background-size: 50vh;
}

#GS-MAIN
{
    font-size:10vh;
    text-align: center;
    font-family: 'Lateef', serif;

    line-height: 0.5em;

    color: white;
}

#GS-SUB
{
    margin-top: 3vh;

    font-size:3vh;
    text-align: center;
    display: block;

    font-family: 'Lateef', serif;

    color: white;
}

#GS-MOB
{
    margin-top: 10vh;

    font-size:3vh;
    text-align: center;
    font-family: 'Lateef', serif;

    line-height: 0.5em;

    color: white;
}

@media only screen and (max-aspect-ratio: 3/2) {
    #REST {
        display: none;
    }
}


@media only screen and (min-aspect-ratio: 3/2) {
    #GET-SCREEN
    {
        display: none;
    }
}