/** stylesheet for main.html **/
/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,600;1,700&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,600;1,700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*font-family: 'IBM Plex Sans', sans-serif;*/
    
    scroll-behavior: smooth;
}   

header
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    font-size: 1.6em;

    background-color: rgb(70, 0, 119);
}

header .logo
{
    color: rgb(255, 255, 255);
    
    text-decoration: none;
    text-transform: uppercase;

    font-weight: 700;

    letter-spacing: 2px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none; /* no bullet points */
    margin-left: 20px;
}

header ul li a
{
    font-weight: bold;
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 30px; /* turns button round */
}

header ul li a:hover,
header ul li a.active
{
    background: rgb(255, 191, 0);
    color: #ffffff;
}

.intro 
{
    height: 100vh;
    background-color: rgb(70, 0, 106);
}

.intro section
{
    padding-top: 25vh;

    margin-left: 20vh;
    margin-right: auto;

    margin-bottom: 100px;

    position: relative;  

    letter-spacing: 0.05em;
}

.intro h1 
{
    color: white;
    font-style: bold;
    font-size: 7vh;

    width: 20em;

    padding-bottom: 20px;
}

.intro h2 
{
    color: white;

    font-weight: 400;
    font-size: 3vh;  
 
    line-height: 1.7;

    width: 20em;
}
