@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,600;1,700&family=Lateef:wght@400&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;*/
    
    scroll-behavior: smooth;
}   

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    background-color: rgba(100, 0, 134, 0.678);
    backdrop-filter: blur(6px);

    border-bottom: 1px solid rgba(80, 0, 114, 0.151);

    font-family: 'Raleway', sans-serif;
}

header .logo
{
    font-size: 1.5em;

    overflow: visible;

    background: url(/img/icon.svg) center left / contain no-repeat;

    color: rgb(255, 255, 255);
    
    padding-left: 2.4em;

    text-decoration: none;
    
    /*text-transform: uppercase;*/

    font-weight: 700;

    letter-spacing: 2px;

    
}

header ul
{
    font-size: 1.2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none; /* no bullet points */
    margin-left: 20px;
}

header ul li a
{
    font-weight: bold;
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 5px; /* turns button round */
}

header ul li a:hover,
header ul li a.active
{
    background: orange;
    color: #ffffff;
}



.main 
{
    padding-top: 25vh;

    display: grid;
    grid-template-rows: 20vh 1fr;

    height: auto;

    padding-left: 15vh;
    padding-right: 15vh;
   
    background-color: rgb(80, 0, 106);
}

.ratings-above
{
    font-family: 'Raleway', sans-serif;

    margin-right: auto;

    padding:0.2em;

    color: rgb(255, 255, 255);

    font-size: 3vh;
    font-weight: 700;

    text-align: center;

    background-color: orange;

    border-radius: 5px;

    width: 5em;
}

.aniText 
{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    background-image: linear-gradient(30deg,#ff823a,#ffb03a,#ffe83a,#ffb03a,#ff823a);
    background-size: 1100% 100%;
    animation: animateBg 2s linear infinite;
}

@keyframes animateBg
{
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.main h2
{
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;

    color: white;
    
    
}

.intro 
{
    background-color: rgb(80, 0, 106);
}

.list
{
    background-color: rgb(80, 0, 106);

    display: grid;
    grid-template-columns: repeat(30vh 1fr 1fr);

    grid-gap: 20px;
    
    margin-bottom: 30vh;
}

.rev 
{
    min-height: 40vh;
    display:grid;
    grid-template-columns: 30vh 1fr 1fr;
    grid-gap: 10px;
}

a { text-decoration: none; }


.preview
{
    justify-items:center;
    background-color:rgb(92, 0, 122);
}

.preview img
{
    margin-top: 1.5vh;
    margin-left: auto;
    margin-right: auto;

    display:block;

    object-fit: cover;
    height: 30vh;

    animation: fadeOut 1s;
}

.preview img:hover
{
    animation: fadeIn 1s; 
    box-shadow: 0px 0px 10px 5px rgb(191, 0, 255);
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
}

@keyframes fadeIn 
    {
        0% { box-shadow: 0px 0px 10px 5px rgba(191, 0, 255, 0); }
        100% { box-shadow: 0px 0px 10px 5px rgb(191, 0, 255); }
    }

@keyframes fadeOut
    {
        100% { box-shadow: 0px 0px 10px 5px rgba(191, 0, 255, 0); }
        0% { box-shadow: 0px 0px 10px 5px rgb(191, 0, 255); }
    }

.preview h3
{
    margin-top: 1vh;
    margin-left: 4vh;
    margin-right: 4vh;

    text-align: center;
    line-height: 1.2em;

    color: white;

    font-size: 2.5vh;

    font-family: 'Roboto Mono', monospace;

}

.andrew-rev
{
    padding: 20px;

    background-color:rgb(92, 0, 122);

    display:grid;
    grid-template-rows: 1fr 10vh;
}

.wyman-rev
{
    padding: 20px;

    background-color:rgb(92, 0, 122);

    display:grid;
    grid-template-rows: 1fr 10vh;
}

.checked 
{
    color: orange;
}

h4 
{
    color: rgba(255, 255, 255, 0.797);
    
    font-family: 'Roboto Mono', monospace;
    font-size: 3vh;

    margin-bottom: 10px;
    
    font-style: italic;
}

p
{
    color: rgba(255, 255, 255, 0.711);

    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 2vh;
}

.usr-rating
{
    font-size: 300%;
    font-weight: 500;
    color: rgb(255, 217, 0);
}

.noselect
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



.fade-in
{ 
    animation: fadeIn 1s; 
}

@keyframes fadeIn 
    {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

.slide-in
{
    position: absolute;
    left: -100px;
    animation: slide 1s forwards;
    animation-delay: 0s;
}

@keyframes slide {
    100% { left: 0; }
}

.slide-fade-in 
{
    position: absolute;
    left: -100px;
    animation: slide 1s forwards, fadeIn 1s;
    animation-delay: 0s;
}

#GET-SCREEN
{
    padding-top: 50vh;

    background-color: black;
    height:100vh;

    background: url(/img/eren-charging.gif) center 20vh / contain no-repeat, black;
    background-size: 50vh;
}

#GS-MAIN
{
    font-size:10vh;
    text-align: center;
    font-family: 'Lateef', serif;

    line-height: 0.5em;

    color: white;
}

#GS-SUB
{
    
    text-decoration: underline;

    margin-top: 3vh;

    font-size:3vh;
    text-align: center;
    display: block;

    font-family: 'Lateef', serif;

    color: white;
}

#GS-MOB
{
    margin-top: 10vh;

    font-size:3vh;
    text-align: center;
    font-family: 'Lateef', serif;

    line-height: 0.5em;

    color: white;
}

@media only screen and (max-aspect-ratio: 3/2) {
    #REST {
        display: none;
    }
}


@media only screen and (min-aspect-ratio: 3/2) {
    #GET-SCREEN
    {
        display: none;
    }
}